- attributes("title") = "Geekbookmarks"
- attributes("headline") = "Geekbookmarks"
-import me.lilacpenguin.geekbookmarks.data.models.Record
-@ val items: List[Record]
-@ val bar: String = "this is the default value"

-for(item <- items)
  .post
    h4.post-title
      a(href="#{item.url}")
        -if(!item.faviconUrl.isEmpty)
          img(src="#{item.faviconUrl}")
        =item.name
    p.post-meta
      =item.addedAt
      -for(tag <- item.tags)
        a.badge(href="/tags/#{tag.id}") =tag.name
    p.post-meta =item.description

    hr