- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"
-import me.lilacpenguin.geekbookmarks.data.models.Record
-@ val items: List[Record]
-@ val bar: String = "this is the default value"

p
  -for(item <- items)
    p
      a(href="#{item.url}")
        -if(!item.faviconUrl.isEmpty)
          img(src="#{item.faviconUrl}")
        =item.name
      p
        -for(tag <- item.tags)
          a(href="/tags/#{tag.id}") =tag.name