-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(href="/bower_components/ionicons/css/ionicons.css" rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/geekbm.css" rel="stylesheet")
  body
    .container
      .blog-header
        h1.blog-title
          a(href="/") =headline

      .row
        .col-sm-8
          != body
    script(src="js/bootstrap.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
