-@ val title: String
-@ val headline: String = title
-@ val body: String
-@ val search: String = ""

!!!
html
  head
    title= title
    link(href="/bower_components/ionicons/css/ionicons.css" rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/geekbm.css" rel="stylesheet")
  body
    .container
      nav.navbar.navbar-default.col-sm-8(role="navigation")
        .container-fluid
          .navbar-header
            a.navbar-brand(href="/") Geekbookmarks
          .collapse.navbar-collapse
            form.navbar-form.navbar-left(role="search" action="/search" method="get")
              .form-group
                input.form-control(type="text" placeholder="Search" name="search" value="#{search}")
              button.btn.btn-default(type="submit") Submit

      .row
        .col-sm-8
          != body
    script(src="js/bootstrap.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
