-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= title
    link(href="css/bootstrap.min.css" rel="stylesheet")

  body
    .container
      .blog-header
        h1.blog-title= headline

      .row
        .col-sm-8
          != body


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/bootstrap.min.js")
